// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
				"champagne": #ECE8DF,
				"cream": #E1D5C9,
				"rose": #AB958A,
				"ale": #62554D,
				"port": #333333,
				"wine": #642A38,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

.logo{
	max-height: 5vh;
}
.page-content{
	margin-top: 6vh;
	//font
}
 .swiper {
	 padding-top: 50px;
	 padding-bottom: 50px;
 }

.swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	height: 300px;
	border-radius: 15px;
}

select[disabled] {
	overflow: hidden;     /* skjuler scrollbars */
	height: auto;         /* tilpasser højde til indhold */
}

.product-image-size-small {
	max-height: 425px;
}

.product-image-size-medium {
	max-height: 625px;
}

.product-image-size-big {
	max-height: 925px;
}

@media only screen and (min-width: 1440px) {
	//.logo{
	//	height: 5vh;
	//}
}