// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
				"champagne": #ECE8DF,
				"cream": #E1D5C9,
				"rose": #AB958A,
				"ale": #62554D,
				"port": #333333,
				"wine": #642A38,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// 5. Du kan lave styling her...

body{
	background-color: #E1D5C9;
}

header{
	font-family: "Alkatra", system-ui;
	font-optical-sizing: auto;
}

.logo{
	max-height: 5vh;
}

.blur{
	backdrop-filter: blur(10px); /* the blur effect */
	-webkit-backdrop-filter: blur(10px); /* Safari support */
	z-index: 1030; /* ensure it's above other elements */
}
.dropdown-columns {
	column-count: 2; /* You can change this to 3 if needed */
	column-gap: 1.5rem;
}

.dropdown-columns > div {
	break-inside: avoid;
}

.page-content {
	margin-top: 7vh;
	padding-bottom: 1vh;
	padding-top: 1vh;
	border-radius: 1vh;
	background-color: #AB958A;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	color: #333333;
}

select[disabled] {
	overflow: hidden;     /* skjuler scrollbars */
	height: auto;         /* tilpasser højde til indhold */
}

.product-image-size-small {
	max-height: 425px;
}

.product-image-size-medium {
	max-height: 625px;
}

.product-image-size-big {
	max-height: 925px;
}

.card{
	background-color: #ECE8DF;
}
.card-title{
	font-weight: bold;
}

@media only screen and (min-width: 768px) {
	.mheadside{
		min-width: 500px;
	}
}

@media only screen and (min-width: 1440px) {
}